// Facebook Messenger style

.aesop-component-chat.fb {
    .aesop-component-chat-bubble {
        border-radius: 30px;
    }
    
    .aesop-component-chat-avatar {
        bottom: 0;
        top: auto;
    }
}
