// iOS Messaging style

.aesop-component-chat.ios {
    .aesop-component-chat-bubble {
        border-radius: 30px;
    }
    
    .aesop-component-chat-avatar {
        bottom: 0;
        top: auto;
    }
    
    .aesop-component-chat-direction-left .aesop-component-chat-bubble-arrow,
    .aesop-component-chat-direction-right .aesop-component-chat-bubble-arrow {
        border-radius: 50%;
        border-style: solid;
        border-width: 0 20px;
        bottom: 0;
        height: 55px;
        position: absolute;
        width: 70px;
    }
    
    .aesop-component-chat-direction-left .aesop-component-chat-bubble-arrow {
        clip-path: inset(24px 0 0 34px);
        margin-right: -21px;
        right: 100%;
    }
    
    .aesop-component-chat-direction-right .aesop-component-chat-bubble-arrow {
        clip-path: inset(24px 34px 0 0);
        left: 100%;
        margin-left: -21px;
    }
}
